/* style */
@import "reset.css";

body {
  padding: 3rem;
}

header {
  font-size: 30px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#App {
  border: 1px solid black;
  height: 70vh;
}
