/* style */
@import "reset.css";

body {
  padding: 3rem;
}

header {
  padding: 1rem;
}

.header_text {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
}

#app {
  border: 1px solid black;
  padding: 10px;
}

nav {
  margin-bottom: 10px;
  padding: 1rem;
  border: 1px solid black;
}

section {
  height: 400px;
  padding: 1rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  align-items: center;
  justify-items: center;
  font-size: 14px;
}

btn-folder {
  display: flex;
  flex-direction: column;
}
